.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting-btn {
  width: 280px;
  height: 80px;
  border-radius: 10px;
  background-color: #747177;
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  margin-top: 50px;
}